<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pizza Delivery</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
        <img src="/images/Pizza.png" class="pizza-img" alt="Delicious pizza"/>
        <br>
        <h1>Welcome to Pizza Delivery</h1>
        <br>
        <button><a th:href="@{/design}">Design your pizza</a></button>
        <button><a th:href="@{/register}">Register</a></button>
        <button><a th:href="@{/login}">Login</a></button>
    </body>
</html>