<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Delivery</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
    <h1>Register</h1>
    <img th:src="@{/images/Pizza.png}"/>

    <br/>
    <form method="POST" th:action="@{/register}" th:object="${registrationForm}">
        <label for="username">Name: </label>
        <input type="text" th:field="*{username}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">Name error</span>
        <br/>

        <label for="password">Password: </label>
        <input type="password" name="password"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">Password error</span>
        <br/>

        <label for="confirm">Confirm password: </label>
        <input type="password" name="confirm"/>
        <br/>

        <label for="phone">Phone: </label>
        <input type="text" th:field="*{phone}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('phone')}"
              th:errors="*{phone}">Phone error</span>
        <br/>

        <label for="street">Street: </label>
        <input type="text" th:field="*{street}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('street')}"
              th:errors="*{street}">Street error</span>
        <br/>

        <label for="house">House: </label>
        <input type="text" th:field="*{house}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('house')}"
              th:errors="*{house}">House error</span>
        <br/>

        <br/>
        <input type="submit" value="Register"/>
    </form>
</body>
</html>