<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Delivery</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
    <img src="/images/Pizza.png" class="pizza-img" alt="Delicious pizza"/>
    <br>
    <h1>Register</h1>
    <form method="POST" th:action="@{/register}" th:object="${registrationForm}">
        <label>Name: </label>
        <label>
            <input type="text" th:field="*{username}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}">Name error</span>
        </label>
        <br>

        <label>Password: </label>
        <label>
            <input type="password" name="password"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">Password error</span>
        </label>
        <br>

        <label>Confirm password: </label>
        <label>
            <input type="password" name="confirm"/>
        </label>
        <br>

        <label>Phone: </label>
        <label>
            <input type="text" th:field="*{phone}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('phone')}"
                  th:errors="*{phone}">Phone error</span>
        </label>
        <br>

        <label>Street: </label>
        <label>
            <input type="text" th:field="*{street}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('street')}"
                  th:errors="*{street}">Street error</span>
        </label>
        <br>

        <label>House: </label>
        <label>
            <input type="text" th:field="*{house}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('house')}"
                  th:errors="*{house}">House error</span>
        </label>
        <br>

        <br>
        <input type="submit" value="Register"/>
    </form>
</body>
</html>